/*
Author: Matt Pahuta
https://www.mattpahuta.com
Date: November 2024
*/
/* **************** */
/* Custom Variables */
/* **************** */
:root {
  
  /* Fonts */
  --ff-primary: "Inter", sans-serif;
  --ff-mono: "Fira Mono", serif;
  /* Font Sizes */

  /* Font Weight */
  --fw-400: 400;
  --fw-700: 700;

  /* Colors */
  --clr-primary: hsl(14, 100%, 66%);
  --clr-text-on-primary: hsl(0, 0%, 100%);
  --clr-text-on-secondary: hsl(0, 0%, 0%);
  --clr-button-border: var(--clr-text-on-primary);
  --clr-button-primary-bg: var(--clr-text-on-primary);
  --clr-button-primary-text: var(--clr-primary);
  --clr-button-secondary-bg: var(--clr-primary);
  --clr-button-secondary-text: var(--clr-text-on-primary);

  /* Border radius */
  --br-soft: 1rem;
  --br-round: 50%; 
  

}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
} */

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Base Styles */
body {
  font-family: var(--ff-primary);
}

.main {
  max-width: 1440px;
  margin-inline: auto;
  padding: 150px;
}


a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 34px;
  grid-template-rows: 1fr;
  grid-template-areas: "logo nav shopping-cart";
  align-items: center;
  padding: 0 60px;
}

.header__link {
  font-size: 40px;
  font-weight: 700;
}

.nav {
  display: inline-block;
  justify-self: end;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__list-item {
  margin-inline-end: 36px;
  font-size: 20px;
}

/* update with Steph Eckles button styles */
.button {
  border: 4px solid var(--clr-button-border);
  background-color: transparent;
  font-size: 32px;
  line-height: 1.1;
  text-align: center;
  /* padding: 0 64px; */
  padding: 1em 2.5em;
  min-width: 10ch;
  min-height: 44px;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  transition: 220ms all ease-in-out;
  cursor: pointer;

}

@media screen and (-ms-high-contrast: active) {
  button.button {
    border: 2px solid currentcolor;
  }
}


.button:hover,
.button:focus {
  outline: 2px solid var(--clr-text-on-primary);
}

.button:not(button:last-of-type) {
  margin-inline-end: 20px;
}

.button__icon {
  margin-inline-start: 1rem;
}

.button--primary {
  background: var(--clr-button-primary-bg);
  color: var(--clr-button-primary-text);
}

.button--secondary {
  background: var(--clr-button-secondary-bg);
  color: var(--clr-button-secondary-text);
}