@import './base.css';

.body--primary {
  background: var(--clr-primary);
  color: var(--clr-text-on-primary);
}



.home .main__heading {
  font-size: 128px;
  font-weight: 700;
}

.home .main__sub-heading {
  font-size: 40px;
}

.button-container {
  margin-top: 100px;
  display: flex;
}

@media (max-width: 1220px) {
  .home .main__heading {
    font-size: 70px;
  }
}